body {
  background: white;
  width: 500px;
  margin: 100px auto;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: #000;
}

header {
  font-size: x-large;
}

section {
  border: 1px solid red;
  padding: 10px;
}

article {
  margin: 10px;
  padding: 10px;
  border: 1px solid green;
}

p {
  margin: 10px;
  padding: 10px;
  border: 1px solid blue;
  font-size: 1.3em;
}

article p {
  font-family: "Book Antiqua", Palatino, Serif;
  font-size: 0.9em;
}
