body {
  background: white;
  width: 500px;
  margin: 100px auto;
  color: #000;
}

section {
  border: 1px solid red;
  padding: 10px;
}

ul {
  border: 1px solid green;
}

ol {
  border: 1px solid blue;
}
