/*
* main.css
* - test css for dev:debug build
*/

body {
	color: #666666;
	font: 400 16px "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif; 
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
	padding: 1vh;
}

a {
	color: #68618A;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #68618A;
}

h3 {
	color: #2F2D5E;
	font-size: 1.3rem;
	font-weight: 400;
}

h5 {
	color: #484691;
	font-size: 0.9rem;
	font-weight: 350;
}

/* NAV menu */
nav ul {
	display: flex;
	justify-content: space-around;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	border: 1px solid #fff;
	padding: 10px;
}

nav ul li a:hover {
	background-color: #68618A;
	border: 1px solid #554F71;
	color: #fff;
}

/* SIDEBAR links */
ul.side-links {
	padding: 10px;
}

ul.side-links li {
	list-style-type: none;
	margin: 10px 0;
}

/* 
* INPUT - various input field and usage
*/
/* general input  */
.submit-button {
	background-color: #fff;
	border: 1px solid #68618A;
	color: #68618A;
	padding: 5px;
}

.submit-button:hover {
	background-color: #68618A;
	color: #fff;
	cursor: pointer;
}

/* SEARCH */
input[name="search_query"] {
	border: 1px solid #68618A;
	outline: none;
	padding: 5px;
	width: 70%;
}

input[name="search_submit"] {
	width: 20%;
}

/* USER - login, register */
input[name="user_login"], input[name="user_register"] {
	width: 45%;
}

/*
* grid areas
*/
/* default layout - larger than 900px width */
.wrapper {
		display: grid;
		grid-gap: 10px;
		grid-template-areas:
		"site-banner site-banner"
		"content-side content"
		"site-links site-footer";
		grid-template-columns: 250px 3fr;
		grid-template-rows: 180px auto 60px;
		height: 98vh;
	}

/* ORGANISATION */
.banner {
	display: grid;
	grid-area: site-banner;
	grid-template-areas:
		"banner-header"
		"site-nav";
	grid-template-columns: auto;
	grid-template-rows: 120px 60px;
}

.banner-header {
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	display: grid;
	grid-area: banner-header;
	grid-template-areas:
		"site-logo site-header site-user"
		"site-logo site-header site-search";
	grid-template-columns: 150px minmax(400px, 2fr) minmax(150px, 1fr);
}

/* SITE */
.site-logo {
	background-position: 40px 10px;
	background-repeat: no-repeat;
	background-size: 35%;
	grid-area: site-logo;
	height: 120px;
}

.site-header {
	border-right: 1px solid #dddddd;
	grid-area: site-header;
}

.site-user {
	align-items: center;
	display: flex;
	grid-area: site-user;
	justify-content: space-evenly;
}

.site-nav {
	border: 1px solid #dddddd;
	grid-area: site-nav;
}

.site-search {
	align-items: center;
	display: flex;
	grid-area: site-search;
	justify-content: space-evenly;
}

.site-links {
	border: 1px solid #dddddd;
	grid-area: site-links;
	padding: 10px;
}

.site-footer {
	border: 1px solid #dddddd;
	grid-area: site-footer;
	padding: 10px;
}

/* CONTENT */
.content {
	border: 1px solid #dddddd;
	grid-area: content;
	overflow: auto;
	padding: 10px;
}

.content-side {
	border: 1px solid #dddddd;
	grid-area: content-side;
	padding: 10px;
}

.content-article {
	grid-area: content-article;
}

/* ARTICLE */
.article-header {
	grid-area: article-header;
}

/*
* MEDIA QUERIES
* - layouts for variant screen real estates
*/
/* max 900 - default for smaller screen size */
@media (max-width: 900px) {
	.wrapper {
		grid-template-areas:
			"site-banner"
			"content"
			"content-side"
			"site-links"
			"site-footer";
		grid-template-columns: auto;
		grid-template-rows: auto auto auto 60px 60px;
		height: 98vh;
	}

	.banner {
		grid-area: site-banner;
		grid-gap: 10px;
		grid-template-areas:
			"banner-header"
			"site-nav";
		grid-template-columns: auto;
		grid-template-rows: 180px 60px;
	}	

	.banner-header {
		border: 1px solid #dddddd;
		grid-template-areas:
		"site-logo site-header site-user"
		"site-search site-search site-search";
		grid-template-columns: 150px auto 150px;
	}

	.site-user {
		display: flex;
		flex-direction: column;
		grid-area: site-user;
		justify-content: space-evenly;
		padding-left: 5%;
	}

	.site-search {
		border-top: 1px solid #dddddd;
		display: flex;
		grid-area: site-search;
		justify-content: space-evenly;
		padding: 15px;
	}

	ul.side-links li {
		display: inline;
		padding-left: 10px;
	}

}