body {
  width: 850px;
  margin: auto;
  background: #fff;
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
}
/* heading 3 */
h3 {
  font-size: 1.75em;
}
/* heading 5 */
h5 {
  font-size: 1.25em;
  margin: 10px 0 10px 0;
}
/* site header */
header {
  border-bottom: 1px solid #dedede;
}
/* site header paragraph */
header p {
  font-size: 1.25em;
  font-style: italic;
}
/* site main content category */
main {
  overflow: auto;
  padding: 15px 0 15px 0;
}
/* input field for note */
.note-input input {
  width: 40%;
}
/* add button for note */
.note-input button {
  padding: 2px;
  margin-left: 5px;
  border-radius: 0;
  border: 1px solid #dedede;
  cursor: pointer;
}
/* note controls */
.note-controls {
  width: 830px;
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid #dedede;
  display: none;
}
/* simplify default button styles for note controls */
.note-controls button {
  padding: 2px;
  margin: 2px;
  border-radius: 0;
  border: 1px solid #dedede;
  cursor: pointer;
}
/* note paragraph output */
.note-output p {
  margin: 10px;
  padding: 10px;
  border: 1px solid #b1c4b1;
  cursor:pointer;
}
/* note paragraph output hover */
.note-output p:hover {
  border: 1px solid #1a3852;
}
/* note delete button */
.note-output p button.note-delete {
  display: block;
  padding: 5px;
  margin: 5px 5px 10px 0;
  border-radius: 0;
  border: 1px solid #dedede;
  cursor: pointer;
}

.note-output p button.note-delete:hover {
  background-color: #aaa;
  color: #fff;
}

/* site footer */
footer {
  margin-top: 5px;
  border-top: 1px solid #dedede;
}
/* site footer paragraph */
footer p {
  font-size: 0.8em;
}
