/*
Responsive Grids..12 column grid layout for sites and applications
ancientlives 2015
*/

/*
reset all elements box-sizing property to border-box...
element total widths and heights now include padding and border
*/
* {
  box-sizing: border-box;
}

/* generic column styling */
[class*="col-"] {
  position: relative;
  float:left;
  padding:20px;
  border: 1px solid #ccc;
}

/* siblings to preceding column - specify gutter*/
[class*="col-"] + [class*="col-"] {
  margin-left: 1.6%;
  border: 1px solid #cd0603;
}

/* columns by permitted section span - eg: 2 columns, 5 columns...gutters included*/
.col-1 {
  width: 6.86%;
}
.col-2 {
  width: 15.33%;
}
.col-3 {
  width: 23.8%;
}
.col-4 {
  width: 32.26%;
}
.col-5 {
  width: 40.73%;
}
.col-6 {
  width: 49.2%;
}
.col-7 {
  width: 57.66%;
}
.col-8 {
  width: 66.13%;
}
.col-9 {
  width: 74.6%;
}
.col-10 {
  width: 83.06%;
}
.col-11 {
  width: 91.53%;
}
.col-12 {
  width: 100%;
}

/* style each row */
.row {
  padding: 5px;
}

/* ensure later elements do not ignore and override the column rows */
.row:before, .row:after {
  content: "";
  clear: both;
  display: block;
}

/* define mobile */
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }

  [class*="col-"] + [class*="col-"] {
    margin-left:0;
  }
}
