/*
* style.css
* basic styles for test Google Maps API app...
*/

/*
* GLOBAL - parent styles for app
*/

body {
  font-size: 14px;
}

/* HEADINGS */
h3 {
  font-size: 1.5em;
}

/* BANNER - header */
#banner {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 1%;
  width: 98%;
  border: 1px solid #000;
  background-color: #fadb48;
  z-index: 10;
}

#banner h3 {
  margin-left: 1%;
}

/* app */
#content {
  margin-top: 20%;
  padding: 2%;
  border: 1px solid #000;
}

#output {
  min-height: 200px;
}
