/*
Responsive Grids..12 column grid layout for sites and applications
ancientlives 2015
*/

/*
reset all elements box-sizing property to border-box...
element total widths and heights now include padding and border
*/
* {
  box-sizing: border-box;
}

/* generic column styling */
[class*="col-"] {
  position: relative;
  float:left;
  padding:20px;
  border: 1px solid #ccc;
}

/* columns by permitted section span - eg: 2 columns, 5 columns... */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.row {
  padding: 5px;
}

/* ensure later elements do not ignore and override the column rows */
.row:before, .row:after {
  content: "";
  clear: both;
  display: block;
}

/* define mobile */
@media only screen and (max-width: 768px) {
  [class*="col-"] {
  width: 100%;
  }
}
