/*
* CSS - Style.css
* basic styles for app design
*/

/* global values... */
body {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	font-family: serif, sans-serif;
}

/* reset headings */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}


/* 
* GRID wrapper 
*/
div.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 4fr 1fr;
	grid-template-areas:
		"head"
		"opt"
		"main"
		"foot";
	margin: 0;
	padding: 0;
}

/* 
* BANNER
*/
header {
	grid-area: head;
	display: grid;
	grid-template-columns: 115px 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"logo banner-headings search"
		"nav-menu nav-menu nav-menu";
	margin: 1%;
	padding: 0;
}

div.logo {
	grid-area: logo;
	margin: 10px 0;
	padding: 0;
}

div.headings {
	grid-area: banner-headings;
	margin: 10px;
}

div.search {
	grid-area: search;
	margin: 10px;
}

div.menu {
	grid-area: nav-menu;
	padding: 1%;
	border: 1px solid #aaa;
}

/*
* OPTIONS
*/
div.options {
	grid-area: opt;
	margin: 1%;
	padding: 0;
	border: 1px solid #aaa;
}

/*
* MAIN
*/
main.app-main {
	grid-area: main;
	margin: 1%;
	padding: 0;
	border: 1px solid #aaa;
}

/*
* FOOTER
*/
footer.app-footer {
	grid-area: foot;
	margin: 1%;
	padding: 0;
	border: 1px solid #aaa;
}


/*
* GENERAL
*/


.content {
	padding: 1%;
}

/* logo image */
div.logo img {
	width: 100px;
	height: 100%;
}

/* 
* search
*/
.search input {
	margin-right: 5px;
	height: 20px;
	width: 150px;
	padding: 2px;
	border: 1px solid #aaa;
	outline: none;
}

.search button {
	height: 26px;
	padding: 2px 6px 2px 6px;
	border: 1px solid #aaa;
}